html{
    display:inline-block;
    width: 800px;
    align-items: center;
    margin-left: 225px;
    background-color:#8458B3;
    margin-top: 40px;
    padding: 0px;
    @media screen and (max-width:450px) {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    
}
body{
    
    background-color: #e5eaf5;
    padding: 10px;
    @media screen and (max-width:450px) {
        width: 100vw;
        margin: 0;
        padding: 0;
    }


}
*{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    
}
.totals{
    margin: 0;   
    @media screen and (max-width:450px) {
        display: flex;
        font-size: 15px;
        
    }

    
}
.totals-budget{
    padding-right: 50px;
    display: inline-block;
    color: #009150;
    @media screen and (max-width:450px) {
       flex: 1;
       

    }
}
.totals-expense{
    padding-left: 50px;
    display: inline-block;
    color:#EE204D;
    @media screen and (max-width:450px) {
       padding: 0;
       flex: 1;
    }
}
form{
    
    padding: 30px;
    padding-top: 0;
    width: max-content;
    display:inline-block;
    margin: 10px;
    @media screen and (max-width:450px) {
        padding: 0;
        
     }
    
}
.form-items{
    padding: 5px;
    margin: 5px;
    width: 170px;
    border:#a0d2eb 1px solid;
    border-radius: 8px;
    font-weight: bold;
   
    
    
}
.submit-btn{
    background-color:#8458B3;
    opacity: 90%;
    border: none;
    box-shadow: 3px 3px  #a0d2eb;
    width: 70px;
    margin: 20px;
    cursor: pointer;
    @media screen and (max-width:450px) {
        width: fit-content;
        margin: 5px;

        
     }


}
.type{
    width: fit-content;
}
.form-heading{
    color: #a28089;
    
    
}
.header{
    color: #8458B3;
    padding: 20px;
    @media screen and (max-width:450px) {
        padding: 0;
        
     }
   
}
.list-item{
    list-style-type: none;
}
table, td, th {
    border: 0.5px solid;
    border:#a28089 1px solid;
    font-weight: bold;
   
  }
td{
    padding: 5px;
}  
table {
    width: 100%;
    border-collapse: collapse;
  }
.history-heading{
    margin-top: 0px;
    color: #8458B3;
  
}
.list{
    max-height: 400px;
    overflow : scroll;
    overflow-x: hidden;
}
.budget{
    color: #009150;
}
.expense{
    color: #EE204D;
}
*{
    font-family: 'Urbanist', sans-serif;
}
a{
    padding: 10px;
    
}
.filterformele{
    margin: 4px;
}
.navbar{
    background-color: #d9dfec;
    padding: 15px;
    font-size: 18px;
    margin: 0px 30px 30px 30px;
    @media screen and (max-width:450px) {
        display: flex;
        flex-wrap: wrap;
        font: 12px;
        padding: 5px 0;
        margin: 0;
        

        
     }
    
}
.nav-elements{
    text-decoration: none;
    color: #8458B3;
    font-weight: bold;
}
.welcome-msg{
    font-family:cursive;

}
.del-btn{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.edit-btn{
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: initial;
    
    
}
